.autocomplete ul {
   list-style-type: none;
   text-align: center;
   margin: 0;
   padding: 0;
   border-top: 1px solid grey;
}

.autocomplete ul::before {
	content: "";
}

.autocomplete li {
	padding: 10px 5px;
}